html, body, #app {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

/*
* === Product: Single ===
*/
.product-single {
  margin-top: 2em;
}

.product-single img {
  width: 100%
}

.product-single .description {
  margin: 1em 0 2em 0;
}

.product-single .details {
  margin-bottom: 2em;
}

/*
* === Product: Reviews ===
*/
.product-reviews {
  margin-top: 4em;
}

.product-reviews h3 {
  margin-bottom: 1em
}

.review-list .card {
  margin-bottom: 2em;
}

.product-reviews i {
  font-size: 20px;
}

.submit-review h5 {
  margin-bottom: 1em;
}

/*
* === Home Landing Page ===
*/

#home-landing {
  background-image: url('/img/home-bg.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;

  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

#home-landing h2 {
  color: white;
  font-weight: 300;
  font-size: 42px;
}

/*
* === Navigation ===
*/

nav {
  z-index: 100;
  background-color: black
}

nav a {
  margin: 1em;
}

.navbar-dark .navbar-nav a.nav-link {
  color: white;
}

/*
* === Forms ===
*/

img.google-signin {
  width: 100%;
}

img.google-signin:active {
  position: relative;
  top: 1px;
}

/*
* === Product Reviews ===
*/

#review-login {
  margin: 2em 0;
}
