body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

/*
* === Product: Single ===
*/
.product-single {
  margin-top: 2em;
}

.product-single img {
  width: 100%
}

.product-single .description {
  margin: 1em 0 2em 0;
}

.product-single .details {
  margin-bottom: 2em;
}

/*
* === Navigation ===
*/

nav {
  margin-bottom: 1em;
}

nav a {
  margin: 1em;
}



/*
* === Forms ===
*/

img.google-signin {
  width: 100%;
}

img.google-signin:active {
  position: relative;
  top: 1px;
}
